language: node_js
cache:
  directories:
    - ~/.npm
notifications:
  email: false
node_js:
  - '8'
  - '6'
scripts:
  - npm run cover
  - npm run check-coverage
  - npm run build
after_success:
  - npm run travis-deploy-once "npm run report-coverage"
  - npm run travis-deploy-once "npm run semantic-release"
branches:
  except:
    - /^v\d+\.\d+\.\d+$/
